
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
        background: rgb(191, 240, 145);
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
    body {
        background:rgb(248, 30, 237);
    }
}
